In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
data = pd.read_csv('Mall_Customers.csv')

In [3]:
# Show the dataframe before Label Encoding
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
data2 = data.copy()

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
# Initialize the label encoder
label_encoder = LabelEncoder()

In [7]:
# Example: Let's assume 'Gender' is a categorical column
data2['Gender'] = label_encoder.fit_transform(data['Gender'])

In [8]:
# Show the dataframe after Label Encoding
data2.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       1   19                  15                      39
1           2       1   21                  15                      81
2           3       0   20                  16                       6
3           4       0   23                  16                      77
4           5       0   31                  17                      40